a {
  text-decoration: none;
  color: unset;
}

button{
  background-color: #fd2d01;
  font-size: 1.05em;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
}


header,
main,
footer {
  padding: 0 3%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
}


button:hover{
  cursor: pointer;
}
header {
  padding-top: 15px;
  border-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

header img {
  
  height: 47px;
}

nav li {
  margin-right: 20px;
  border-bottom: transparent 2px solid;
}

nav li:hover{
  border-bottom: #ffd7d7 2px solid;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.connect__form,
.publication__form {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px 4%;
  border-radius: 15px;
}

.publication {
  margin-bottom: 25px;
  background-color: #f2f2f2;
  padding: 20px 4%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.publication .username{
  font-weight: bold;

}

.publication div {
  width: 100%;
}

.publication img {
  
  
}
.date{
  font-size: 0.8em;
}
.comments {
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px grey solid;
}

.modify__account__form{
  display: flex;
  flex-direction: column;
}



