a {
  text-decoration: none;
  color: unset;
}
header, main, footer {
  padding: 0 3%;
  font-family: "Raleway", sans-serif;
}

header{
  padding-top: 15px;
  border-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 40px;
  
}

nav li{
  margin-right: 20px;
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.connect__form, .publication__form {
  display: flex;
  flex-direction: column;
}

.publication{
  border: 2px black solid;
  margin: 5px;
}
